#required
tensorflow
tflearn
numpy
layer
# or git clone --recursive for layer submodule

#optional:
scikit-image
pyaudio
wave
python_speech_features
matplotlib
libtorrent
tensorlayer
# cv,cv2 #  deprecated, we use matplotlib.pyplot now
cryptography>=46.0.5 # not directly required, pinned by Snyk to avoid a vulnerability
keras>=3.13.2 # not directly required, pinned by Snyk to avoid a vulnerability
